/* ☉ Debug Zone */
body
{
   background: center center no-repeat;
   /* background-image: url(../design/mobile-design.jpg); */
   /* background-image: url(../design/desktop-design.jpg); */
}

body > .wrapper
{
   /* opacity: .5; */
   /* mix-blend-mode: color-burn; */
}

/* ☉ Declaration */
/* Element, Advice (main object), Modifier */
@layer el, adv, mod;

@font-face
{
   font-family: Manrope;
   font-style: normal;
   font-weight: 400, 800;
   font-display: swap;
   src: url(./res/Manrope-VariableFont_wght.ttf) format('truetype');
}

:root
{
   --f-heading: Manrope, serif;
   --f-text: Manrope, sans-serif;

   --c-accent: hsl(150, 100%, 66%);

   --c-tx: hsl(193, 38%, 86%);
   --c-bg: hsl(218, 23%, 16%);
   --c-lnk: hsl(75, 90%, 35%);

   --d-pad: 16px;
   --d-gap: 15px;

   /* Element */
   /* ... */

   /* Article */
   --adv-pad-block: 40px;
   --adv-pad-inline: 23px;
   --adv-gap: 27px;
   --adv-btn: 66px;
   --adv-c-btn: var(--c-accent);
   --adv-c-bg: hsl(217, 19%, 24%);

   /* Modifier */
   /* ... */
}

/* ☉ Main: mobile */
body
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   box-sizing: border-box;
   margin: 0;
   padding: var(--d-pad);
   min-height: 100vh;

   font-family: var(--f-text);
   font-weight: 800;
   font-size: 16px;
   line-height: 1.5;

   color: var(--c-tx);
   background-color: var(--c-bg);
}

@layer el
{
   a
   {
      text-decoration-color: transparent;

      color: var(--c-lnk);

      transition: text-decoration-color .3s ease-out;
   }

   a:hover
   {
      text-decoration-color: var(--c-accent);
   }

   .wrapper
   {
      position: relative;

      margin-top: calc(var(--adv-pad-block) * -1.8);
   }

   footer
   {
      position: absolute;
      top: 100%;

      padding-block: var(--d-pad);
      width: 100%;

      font-weight: 400;
      line-height: 1.3;
      text-align: center;
   }

   [aria-busy="true"]
   {
      cursor: wait;
   }

   [aria-busy="true"] button
   {
      pointer-events: none;
   }
}

@layer adv
{
   #advice
   {
      contain: layout;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;

      box-sizing: border-box;
      border-radius: 10px;

      margin-bottom: var(--adv-pad-block);
      padding: var(--adv-pad-block) var(--adv-pad-inline);
      max-width: 540px;
      min-width: 343px;
      /* min-height: 315px; */
      width: 100%;

      text-align: center;

      background-color: var(--adv-c-bg);
   }

   #advice::before
   {
      content: "advice #" attr(data-id);

      padding-bottom: var(--adv-gap);

      color: var(--c-accent);

      font-variant-caps: all-small-caps;
      font-size: 0.9em;
      line-height: 1;
      letter-spacing: .16em;
   }

   #advice > q
   {
      flex-grow: 1;

      padding-bottom: 23px;

      font-size: 1.46em;
      line-height: 1.4;
   }

   #advice > .decorator
   {
      display: flex;
      align-items: center;
      gap: 1em;

      padding-bottom: 24px;
      width: 100%;
      height: 1em;
   }

   #advice > .decorator svg
   {
      display: block;
      height: 1em;

      fill: var(--c-tx);
   }

   #advice > .decorator::before,
   #advice > .decorator::after
   {
      content: '';

      flex-grow: 1;

      display: block;
      height: 1px;

      opacity: 0.2;
      background-color: var(--c-tx);
   }

   #roll
   {
      position: absolute;
      top: calc(100% - var(--adv-btn) / 2);

      display: flex;
      align-items: center;
      justify-content: center;
      /* margin-bottom: calc((var(--adv-btn) / 2 + var(--adv-pad-block)) * -1); */

      border-radius: 50%;
      border: none;
      padding: 0;

      aspect-ratio: 1;
      height: var(--adv-btn);

      background-color: var(--adv-c-btn);

      transition: box-shadow .23s ease-in;

      cursor: pointer;
   }

   #roll:hover
   {
      box-shadow: 0 0 30px var(--c-accent);
   }

   #roll > img
   {
      display: block;
   }
}

@layer mod
{
   .hidden
   {
      visibility: hidden;
   }
}

/* ☉ Main: desktop */
@media screen and (min-width: 800px)
{
   :root
   {
      --adv-pad-block: 50px;
      --adv-pad-inline: 40px;
      --adv-gap: 24px;
   }

   @layer el
   {
      .wrapper
      {
         margin-top: 18px;
      }
   }

   @layer adv
   {
      #advice
      {
         border-radius: 15px;
         min-width: 540px;
         min-height: 333px;
      }

      #advice::before
      {
         margin-top: -0.1em;

         font-size: 1.1em;
         letter-spacing: .14em;
      }

      #advice > q
      {
         padding-bottom: var(--adv-gap);

         font-size: 1.7em;
      }

      #advice > .decorator
      {
         padding-bottom: 22px;
      }
   }
}